<main class="m-3">
{{#with navigation}}
 <div class="card">
  <div class="col-12">
    <div class='nav nav tabs'>
        {{#each links}}
          <div class='nav-item'>
            <a href='{{href}}' class='{{#if @last}} disabled {{/if}} nav-link'>{{text}}</a>
          </div>
        {{/each}}
    </div>
   </div>
  </div>
  {{/with}}

  <br>
  <br>
 
      <header class="col-12">
      <h1>{{header}}</h1>
        
      {{#with contacts_data}}
      <h3>{{title}}</h3>
       {{#each buttons}}
        {{#if isPrimary}} <div class="btn btn-warning col-4">{{text}}</div>{{/if}}
        {{#if isOutline}} <div class="btn btn-outline-warning col-4">{{text}}</div>{{/if}}
      {{/each}}
      </header>

  <div class="row">
      <div class="col-8">
      {{#with form}}
         {{#with input}}
        <div class="row">
            <div class="col-4">
              {{#with surname}}
                <div>
                  <label class="form-label">{{label}}</label>
                  <input class="form-control" placeholder="{{placeholder}}">
                  <div class="form-text">{{caption}}</div>
                </div>
              {{/with}}
              {{#with name}}
            <div>
              <label class="form-label">{{label}}</label>
              <input class="form-control" placeholder="{{placeholder}}">
              <div class="form-text">{{caption}}</div>
            </div>
                {{/with}}
            </div>
             
          <div class="col-6">
           {{#with phone}}
            <div>
              <label class="form-label">{{label}}</label>
              <input class="form-control" placeholder="{{placeholder}}">
              <div class="form-text">{{caption}}</div>
            </div>
             {{/with}}
       
              {{#with email}}
            <div>
              <label class="form-label">{{label}}</label>
              <input class="form-control" placeholder="{{placeholder}}">
              <div class="form-text">{{caption}}</div>
            </div>
             {{/with}}
            </div>
        </div>
        {{/with}}
      <hr>

            {{#each switch}}
              <div class="form-label">{{text}}</div>
              <div class="form-check form-switch">
                <label class="form-check-label"></label>
                <input type="checkbox" class="form-check-input">
              </div>
            {{/each}}
       {{/with}}
    {{/with}}

    <hr>
   
    

      {{#with delivery}}
      <h1>{{title}}</h1>
      <div class="card">
        <div class="card">
      {{#each select}}
      
        <label class="form-label">{{label}}</label>
        <select class="form-select" placeholder="{{placeholder}}">
          {{#each options}}
          <option selected>{{value}}: {{text}}:</option>
          {{/each}}
        </select>
     
      {{/each}}
      </div>
      </div>

      {{#each delivery_type}}
        <div class="form-label"></div>
        <div class="form-check">
          <label class="form-check-label">{{type}}</label>
          <input type="radio" class="form-check-input">
        </div>
      {{/each}}

      <hr>

      {{#with payment}}
      <h2>{{title}}</h2>
      {{#each list}}
        <div class="form-label"></div>
        <div class="form-check">
          <label class="form-check-label">{{type}}</label>
          <input type="radio" class="form-check-input">
          <p>{{description}}</p>
        </div>
      {{/each}}
      {{/with}}

      <hr>
      {{#with contact}}
        <h2>{{title}}</h2>
        
        <div class="col-8">
        <div class="row">
          <div class="col-5">
              {{#with surname}}
            <div>
              <label class="form-label">{{label}}</label>
              <input class="form-control" placeholder="{{placeholder}}">
              <div class="form-text">{{caption}}</div>
            </div>
              {{/with}}
              {{#with name}}
            <div>
              <label class="form-label">{{label}}</label>
              <input class="form-control" placeholder="{{placeholder}}">
              <div class="form-text">{{caption}}</div>
            </div>
             {{/with}}
          </div>
        
          <div class="col-7">
              {{#with phone}}
            <div>
              <label class="form-label">{{label}}</label>
              <input class="form-control" placeholder="{{placeholder}}">
              <div class="form-text">{{caption}}</div>
            </div>
              {{/with}}
              {{#with email}}
            <div>
              <label class="form-label">{{label}}</label>
              <input class="form-control" placeholder="{{placeholder}}">
              <div class="form-text">{{caption}}</div>
            </div>
              {{/with}}
          </div>
        </div>
      </div>
     {{/with}}
       <hr>

          {{#with coment}}
                  <div>
                    <div>
                    <label class="form-label">{{label}}</label>
                    <input class="form-control" placeholder="{{placeholder}}">
                  </div>
              </div>
          {{/with}}
        {{/with}}
       <hr>

      
      
       {{#with coupon}}
       <h2 class="mb-5">Купони</h2>
          {{#with select}}
          <div class="mb-3">
            {{#with availabel_coupon}}
            <label class="form-label">{{label}}</label>
            <select class="form-select form-select-lg">
              <option selected>{{placeholder}}</option>
              {{#each options}}
              <option value="{{value}}">{{text}}</option>
              {{/each}}
            </select>
            {{/with}}
          </div> 
          <div>
            {{#with friend_coupon}}
            <label class="form-label">{{label}}</label>
            <select class="form-select form-select-sm">
            <option selected>{{placeholder}}</option>
            {{#each options}}
              <option value="{{value}}">{{text}}</option>
              {{/each}}
              </select>
             {{/with}}
        {{/with}}
         </div>
   
       

            {{#with add}}
                <div class="row g-5">
                  {{#with friend}}
                    <div>
                    <label class="form-label">{{label}}</label>
                    <input class="form-control form-control-lg" placeholder="{{placeholder}}">
                  </div>
                  {{/with}}
                    {{#with colleague}}
                    <div>
                    <label class="form-label">{{label}}</label>
                    <input class="form-control form-control-sm" placeholder="{{placeholder}}">
                  </div>
                  {{/with}}
                </div>
            {{/with}}
      {{/with}}
        
      <hr>
        
      {{#with quiz}}
      <h2>{{title}}</h2>
        {{#with preference}}
        <h5>{{title}}</h5>
            {{#each options}}
            <div class="col-12">
              <div class="form-label"></div>
              <div class="form-check">
                <label class="form-check-label">{{this}}</label>
                <input type="radio" class="form-check-input">
              </div>
            </div>
            {{/each}}
        {{/with}}

                <div class="row g-5">
                   {{#with your_expirience}}
                    <div>
                    <label class="form-label">{{label}}</label>
                    <input class="form-control" placeholder="{{placeholder}}">
                  </div>
                    {{/with}}
                </div>

          {{#with purchase_frequency}}
          <label class="form-label">{{label}}</label>
          <select class="form-select" placeholder="{{placeholder}}">
            <div class="col-12">
                {{#each options}}
                <option selected>{{value}}: {{text}}:</option>
                {{/each}}
            </div>
            </select>
          {{/with}}
            <br>
            <br>

          {{#with factors}}
          <h5>{{title}}</h5>
          {{#each options}}
          <div class="col-12">
            <div class="form-check">
              <label class="form-check-label">{{this}}</label>
             <input type="checkbox" class="form-check-input">
            </div>
          </div>
             {{/each}}
          {{/with}}
      {{/with}}
           </div>
          </div>
          </div>
  </div>
          <hr>
          <div class="col-4">
          <div class="card"> 
             <diV class="m-2">
        {{#each action_block}}
          {{#if isSuccess}} <div class="btn btn-success sm">{{text}}</div>{{/if}}
          {{#if isDanger}} <div class="btn btn-danger sm">{{text}}</div>{{/if}}
          {{#if isInfo}} <div class="btn btn-info sm">{{text}}</div>{{/if}}
        {{/each}}
       </div>
       </div>
    <br>
    <br>
      <div class="card">
        <diV class="m-2">
      {{#with total}}
      <h2>{{title}}</h2>
      {{#each item_list}}
      <p>{{name}}: {{price}}</p>
      {{/each}}
      <hr>
      {{#each additional_info}}
      <p>{{text}}: {{value}}</p>
      {{/each}}
      <hr>
      {{#with total_price}}
      <p>{{text}}: {{value}}</p>
      {{/with}}
      <hr>
      {{#each button}}
        {{#if isPrimary}} <div class="btn btn-primary sm m-1">{{text}}</div>{{/if}}
        {{#if isOutline}} <div class="btn btn-outline-primary sm m-1">{{text}}</div>{{/if}}
       {{/each}}
      {{/with}}
      </div>
      </div>
    </div>

      <footer>
        <div class="row d-3 m-3">
            <ul class="nav">
            {{#each footer}}
            <div class="col-2">
                {{#each this}}
                <li class="nav-item">
                    <a class="nav-link {{#if @last}} disabled {{/if}}" {{#if @last}} {{else}} href="{{link}} {{/if}}">{{text}}</a>
                </li>
                {{/each}}
            </div>
            {{/each}}
          </ul>
        </div>
     </footer>
    </main>
    