<main>
{{#with navigation}}
 <div class="card">
    <div class='nav nav tabs'>
      {{#each links}}
        <div class='nav-item'>
          <a href='{{href}}' class='{{#if @last}} disabled {{/if}} nav-link'>{{text}}</a>
        </div>
      {{/each}}
    </div>
    </div>
  {{/with}}

  <br>
  <br>

    <h1>{{header}}</h1>

    <br>

    {{#with contacts_data}}
      <h3>{{title}}</h3>
       {{#each buttons}}
        {{#if isPrimary}} <div class="btn btn-warning">{{text}}</div>{{/if}}
        {{#if isOutline}} <div class="btn btn-outline-warning">{{text}}</div>{{/if}}
      {{/each}}

        {{#with form}}
        {{#with input}}
        {{#with surname}}
      <main class="p-5">
        <div class="row g-5">
          <div class="col-5">
            <div>
              <label class="form-label">{{label}}</label>
              <input class="form-control" placeholder="{{placeholder}}">
              <div class="form-text">{{caption}}</div>
            </div>
          </div>
        </div>
      </main>
      {{/with}}
       {{#with name}}
      <main class="p-5">
        <div class="row g-5">
          <div class="col-5">
            <div>
              <label class="form-label">{{label}}</label>
              <input class="form-control" placeholder="{{placeholder}}">
              <div class="form-text">{{caption}}</div>
            </div>
          </div>
        </div>
      </main>
      {{/with}}

       {{#with phone}}
      <main class="p-5">
        <div class="row g-5">
          <div class="col-5">
            <div>
              <label class="form-label">{{label}}</label>
              <input class="form-control" placeholder="{{placeholder}}">
              <div class="form-text">{{caption}}</div>
            </div>
          </div>
        </div>
      </main>
      {{/with}}
       {{#with email}}
      <main class="p-5">
        <div class="row g-5">
          <div class="col-5">
            <div>
              <label class="form-label">{{label}}</label>
              <input class="form-control" placeholder="{{placeholder}}">
              <div class="form-text">{{caption}}</div>
            </div>
          </div>
        </div>
      </main>
      {{/with}}
      {{/with}}
   

   <hr>

   {{#each switch}}
   <div class="col-12">
    <div class="form-label">{{text}}</div>
    <div class="form-check form-switch">
      <label class="form-check-label"></label>
      <input type="checkbox" class="form-check-input">
    </div>
  </div>
   </div>
   {{/each}}
    {{/with}}
    {{/with}}

    <hr>
     <div class="card"> 
    {{#each action_block}}
        {{#if isSuccess}} <div class="btn btn-success col-4 m-1">{{text}}</div>{{/if}}
       {{#if isDanger}} <div class="btn btn-danger col-2 m-1">{{text}}</div>{{/if}}
       {{#if isInfo}} <div class="btn btn-info col-3 m-1">{{text}}</div>{{/if}}
     {{/each}}
       </div>
    <br>
    <br>
      <div class="card">
        <diV class="m-2">
      {{#with total}}
      <h2>{{title}}</h2>
      {{#each item_list}}
      <p>{{name}}: {{price}}</p>
      {{/each}}
      <hr>
      {{#each additional_info}}
      <p>{{text}}: {{value}}</p>
      {{/each}}
      <hr>
      {{#with total_price}}
      <p>{{text}}: {{value}}</p>
      {{/with}}
      <hr>
      {{#each button}}
       {{#if isPrimary}} <div class="btn btn-primary col-4 m-1">{{text}}</div>{{/if}}
       {{#if isOutline}} <div class="btn btn-outline-primary col-3 m-1">{{text}}</div>{{/if}}
       {{/each}}
      {{/with}}
      </div>
      </div>

      <hr>

      {{#with delivery}}
      <h1>{{title}}</h1>
      <div class="card">
        <div class="card">
      {{#each select}}
      <div class="col-12">
        <label class="form-label">{{label}}</label>
        <select class="form-select" placeholder="{{placeholder}}">
          {{#each options}}
          <option selected>{{value}}: {{text}}:</option>
          {{/each}}
        </select>
      </div>
      {{/each}}
      </div>
      </div>

      {{#each delivery_type}}
      <div class="col-12">
        <div class="form-label"></div>
        <div class="form-check">
          <label class="form-check-label">{{type}}</label>
          <input type="radio" class="form-check-input">
        </div>
      </div>
      {{/each}}

      <hr>

      {{#with payment}}
      <h2>{{title}}</h2>
      {{#each list}}
      <div class="col-12">
        <div class="form-label"></div>
        <div class="form-check">
          <label class="form-check-label">{{type}}</label>
          <input type="radio" class="form-check-input">
          <p>{{description}}</p>
        </div>
      </div>
      {{/each}}
      {{/with}}

      <hr>
      {{#with contact}}
        <h2>{{title}}</h2>
        
        {{#with surname}}
      <main class="p-5">
        <div class="row g-5">
          <div class="col-5">
            <div>
              <label class="form-label">{{label}}</label>
              <input class="form-control" placeholder="{{placeholder}}">
              <div class="form-text">{{caption}}</div>
            </div>
          </div>
        </div>
      </main>
      {{/with}}
       {{#with name}}
      <main class="p-5">
        <div class="row g-5">
          <div class="col-5">
            <div>
              <label class="form-label">{{label}}</label>
              <input class="form-control" placeholder="{{placeholder}}">
              <div class="form-text">{{caption}}</div>
            </div>
          </div>
        </div>
      </main>
      {{/with}}

       {{#with phone}}
      <main class="p-5">
        <div class="row g-5">
          <div class="col-5">
            <div>
              <label class="form-label">{{label}}</label>
              <input class="form-control" placeholder="{{placeholder}}">
              <div class="form-text">{{caption}}</div>
            </div>
          </div>
        </div>
      </main>
      {{/with}}
       {{#with email}}
      <main class="p-5">
        <div class="row g-5">
          <div class="col-5">
            <div>
              <label class="form-label">{{label}}</label>
              <input class="form-control" placeholder="{{placeholder}}">
              <div class="form-text">{{caption}}</div>
            </div>
          </div>
        </div>
      </main>
      {{/with}}
     {{/with}}
       <hr>

          {{#with coment}}
          <main class="p-5">
                <div class="row g-5">
                  <div class="col-5">
                    <div>
                    <label class="form-label">{{label}}</label>
                    <input class="form-control" placeholder="{{placeholder}}">
                  </div>
              </div>
                </div>
              </main>
          {{/with}}
           {{/with}}
       <hr>

      
      
       {{#with coupon}}
       <h2 class="mb-5">Купони</h2>
      {{#with select}}
          <div class="mb-3">
            {{#with availabel_coupon}}
            <label class="form-label">{{label}}</label>
            <select class="form-select form-select-lg">
              <option selected>{{placeholder}}</option>
              {{#each options}}
              <option value="{{value}}">{{text}}</option>
              {{/each}}
            </select>
            {{/with}}
          </div> 
          <div class="mb-3">
            {{#with friend_coupon}}
            <label class="form-label">{{label}}</label>
            <select class="form-select form-select-sm">
            <option selected>{{placeholder}}</option>
            {{#each options}}
              <option value="{{value}}">{{text}}</option>
              {{/each}}
              </select>
             {{/with}}
        {{/with}}
         </div>
   
       

      {{#with add}}
       {{#with friend}}
          <main class="p-5">
                <div class="row g-5">
                    <div>
                    <label class="form-label">{{label}}</label>
                    <input class="form-control form-control-lg" placeholder="{{placeholder}}">
                  </div>
                </div>
              </main>
           {{/with}}
          {{#with colleague}}
          <div class="col-12">
           <main class="p-5">
                <div class="row g-5">
                    <div>
                    <label class="form-label">{{label}}</label>
                    <input class="form-control form-control-sm" placeholder="{{placeholder}}">
                  </div>
                </div>
              </main>
          {{/with}}
          {{/with}}
      {{/with}}
        
      <hr>
        
      {{#with quiz}}
      <h2>{{title}}</h2>
      {{#with preference}}
      <h5>{{title}}</h5>
      {{#each options}}
      <div class="col-12">
        <div class="form-label"></div>
        <div class="form-check">
          <label class="form-check-label">{{this}}</label>
          <input type="radio" class="form-check-input">
        </div>
      </div>
      {{/each}}
      {{/with}}

      {{#with your_expirience}}
          <main class="p-5">
                <div class="row g-5">
                    <div>
                    <label class="form-label">{{label}}</label>
                    <input class="form-control" placeholder="{{placeholder}}">
                  </div>
                </div>
             </main>
          {{/with}}

          {{#with purchase_frequency}}
          <label class="form-label">{{label}}</label>
          <select class="form-select" placeholder="{{placeholder}}">
            <div class="col-12">
                {{#each options}}
                <option selected>{{value}}: {{text}}:</option>
                {{/each}}
            </div>
            </select>
          {{/with}}
            <br>
            <br>

          {{#with factors}}
          <h5>{{title}}</h5>
          {{#each options}}
          <div class="col-12">
            <div class="form-check">
              <label class="form-check-label">{{this}}</label>
             <input type="checkbox" class="form-check-input">
            </div>
          </div>
             {{/each}}
          {{/with}}
           {{/with}}

          <hr>
          <footer>
        <div class="row d-3 m-3">
            <ul class="nav">
            {{#each footer}}
            <div class="col-2">
                {{#each this}}
                <li class="nav-item">
                    <a class="nav-link {{#if @last}} disabled {{/if}}" {{#if @last}} {{else}} href="{{link}} {{/if}}">{{text}}</a>
                </li>
                {{/each}}
            </div>
            {{/each}}
          </ul>
        </div>
     </footer>
    </main>