<div>
  <main>
    {{#with heading}}
      <div class='card'>
        <div class='card-body'>

          {{#with main}}
             <div class='card'>
            <div class='card-body'>
              <h1>{{title}}</h1>
              <p class="text-muted">{{text}}</p>
              <button class='btn btn-primary'>{{button_text.solid}}</button>

              <br>

              <button class='btn btn-outline.primary'>{{button_text.outline}}</button>

        </div>
      </div>
      {{/with}}

      <br>
      <br>
      
      {{#with second}}
        <div class='card'>
        <div class='card-body'>
            <h2>{{title}}</h2>
            <p class="text-muted">{{text}}</p>
              <button class='btn btn-secondary'>{{button_text.solid}}</button>

              <br>

           <button class='btn btn-outline.secondary'>{{button_text.outline}}</button>

           </div>
           </div>
        {{/with}}

        <br>
        <br>

        {{#with subblock}}
        <div class='card'>
        <div class='card-body'>
            <h3>{{title}}</h3>
            <p class="text-muted">{{text}}</p>
              <button class='btn btn-dark'>{{button_text.solid}}</button>

              <br>

           <button class='btn btn-outline.dark'>{{button_text.outline}}</button>

           </div>
           </div>
        {{/with}}
          {{/with}}

        <br>
        <br>

        {{#with nested_display}}
          <div class='card'>
         <div class='card-body'>
          <div class="display-1">HTML</div>

       
          <br>
          <br>
            {{#with children_display}}
            
            <hr>

            <div class="display-4">Children</div>
            <p class="text-muted">{{title}}</p>
             <p class="text-muted">{{text}}</p>
             
              <button class='btn btn-outline-warning'>{{button.text}}</button>
             {{/with}}   

            <hr>
              
            <h6>Sections</h6>
            {{#with button}}
            <button class='btn btn-info'>{{text}}</button>
              {{/with}}
           </div>    
        </div>  
       {{/with}}

        <br>
        <br>

        {{#with paragraph}}
        <div class='card'>
        <div class='card-body'>
            <p class="text-uppercase">{{title}}</p>
              <p class="text-muted">{{text}}</p>
               <button class='btn btn-link'>{{text}}</button>
           
              
                {{#each list_name}}
              <div class='card'>
              <div class='card-body'>
                <ul>
                  <li>
                     <p class="text-muted">{{text}}</p>
                     <button class='btn btn-link'>{{text}}</button>
                     </li>
                    </ul>

                 </div>
                  </div> 

                  <br>

            {{/each}}
          {{/with}}
        
        
  </main>
</div>