<div>
  {{#with web}}
      <h1><b>Web:</b></h1>
      <hr>
      <ul>
      {{>title big=true data='Languages:'}}

      {{#each languages}}
      <li>
         <p> Name:<b>{{name}}</b> Version:<b>{{version}}</b></p> 
          <p><em>{{description}}</em></p>

          <ul>
             {{#each elements}}
             <li>
              <p>Element:<b>{{name}}</b></p>
              <em>{{description}}</em>
            </li>
        
            <ul>
              <p>Attributes:</p>
              {{#each attributes}}
              <li>
                <p><b>{{name}}</b></p>{{description}}
              </li>
              {{/each}}
            </ul>
            {{/each}}
        </ul>

        <ul>
          {{#each properties}}
          <li>
            <p>Properties:<b>{{name}}</b></p><em>{{description}}</em>
          </li>
          <ul>
            <p>Values:</p>
            {{#each values}}
            <li>
              <p><b>{{value}}</b>{{description}}</p>
            </li>
            {{/each}}
          </ul>
          {{/each}}
        </ul>

         <ul>
          {{#each functions}}
          <li>
            <p>Functions:<b>{{name}}</b></p> <em>{{description}}</em>
          </li>
            <ul>
              <p>Parameters:</p>
              {{#each parameters}}
              <li>
              <p><b>{{name}}</b> <em>({{type}})</em> {{description}}</p>
              </li>
              {{/each}}
            </ul>
          {{/each}}
        </ul>
          <br>
      </li>
      {{/each}}
    </ul>
  {{/with}}
 </div>