{{#each goodsBlock}}
  <div class='card'>
    <div class='row m-1'>
      <div class='col-2'><image
          class='card-image sm'
          src='{{image}}'
          alt='{{alt}}'
        ></image></div>
      <div class='col-4'>
        <h6 class='m-1'>{{name}}</h6>
        <p class='form-control-sm'>{{description}}</p>
      </div>
      {{#with price}}
        <div class='col-2'>
          <div>{{title}}</div>
          <h5>{{value}}</h5>
        </div>
      {{/with}}
      <div class='col-2'>{{amount}}</div>
      <div class='col-2'>
        {{#each buttons}}
          {{#if isPrimary}}
            <div
              class='btn btn-primary'
            >{{text}}</div>{{/if}}
          {{#if isDanger}}
            <div
              class='btn btn-outline-danger'
            >{{text}}</div>{{/if}}
        {{/each}}
      </div>
    </div>
  </div>
{{/each}}