{{! 
  Це леяут по замовчюванню, котрий вже містить базову структуру HTML документа
  І котрий обгортає код container файлів для будь-яких ендпоїнтів
}}

<html>

  <head>
    <title>
      {{page.title}}
    </title>
    <meta charset='utf-8' />
    <link href='css/index.css' rel='stylesheet' />
<<<<<<< HEAD
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
			integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  </head>

  <body class="p-5">
  {{#with header}}
    <header>
      <div class="mb-2">
        <h1>{{name.firstname}} {{name.lastname}}</h1>
      </div>
      <div  class="mb-2">
        <b>{{position}}</b>
      </div>
      
      <div  class="mb-2">
        <em>{{salary}}</em>
      </div>
      
      <div  class="mb-2">
        <address>{{address}}</address>
      </div>
      
      <hr  class="my-5"/>
    </header>
{{/with}}
=======
<<<<<<< HEAD
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
			integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
=======
<<<<<<< HEAD
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
			integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
=======
<<<<<<< HEAD

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
			integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
=======
<<<<<<< HEAD
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
			integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    
=======

   
>>>>>>> 089655ea19fbd1e46fdc2dd9fcf26cfb38d88fbf
>>>>>>> 751cb3e8c055b61f10eb87be88112d962a808bac
>>>>>>> 6494e7ef3f511a00c36e13f276a4ff425ba81d1d
>>>>>>> a8cddf08bff431b43fe6b571a32647aaa5f0c3e9
  </head>

  <body>
 

>>>>>>> 7619faf6f4275219d5c143823599fe69c8a6076e

  <div class="mb-5">
 {{> nav}}
  </div>
    {{!  ↓  ця кострукція показує куди шаблонізатору треба вставляти код з container файлу   }}
    {{{body}}}

    {{#with footer}}
  <footer>
      <hr class="my-5">
      <div>
        {{#with social}}
          {{> link text=email.text href=email.href blank=true }}
          {{> link text=phone.text href=phone.href blank=true }}
          {{> link text=linkedin.text href=linkedin.href blank=true }}
        {{/with}}
        </div>
        
        <div class="my-3">
          <em>Copyright by {{../header/name/firstname}}  {{../header/name/lastname}}</em>
        </div>
        
        <div>
          <address>
            {{../header/address}}
          </address>
        </div>
    </footer>
<<<<<<< HEAD
    {{/with}}
   
        
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
=======
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
  {{/with}}
<<<<<<< HEAD
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
=======
<<<<<<< HEAD
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
=======
<<<<<<< HEAD
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
=======
 
>>>>>>> 089655ea19fbd1e46fdc2dd9fcf26cfb38d88fbf
>>>>>>> 751cb3e8c055b61f10eb87be88112d962a808bac
>>>>>>> a8cddf08bff431b43fe6b571a32647aaa5f0c3e9
>>>>>>> 7619faf6f4275219d5c143823599fe69c8a6076e
  </body>
  

</html>